# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/4/ProblemSet4_2/ProcessingName/nbproject/private/
/pertemuan2/nbproject/private/
/pertemuan2/Text01/build/
/pertemuan2/Text01/nbproject/private/
/pertemuan2/Text02/build/
/pertemuan2/Text02/nbproject/private/
/pertemuan2/Text03/build/
/pertemuan2/Text03/nbproject/private/
/pertemuan2/ProblemSet2_1/build/
/pertemuan2/ProblemSet2_1/nbproject/private/
/pertemuan2/ProblemSet2_2/build/
/pertemuan2/ProblemSet2_2/nbproject/private/
/03/Chickens01/build/
/03/Chickens01/nbproject/private/
/03/ShoppingCart01/nbproject/private/
/03/ShoppingCart01/build/
/03/Parsing01/build/
/03/Parsing01/nbproject/private/
/05/ConditionalDemo/build/
/05/ConditionalDemo/nbproject/private/
/05/ConditionalEx/build/
/05/ConditionalEx/nbproject/private/
/05/SwitchDemo/build/
/05/SwitchDemo/nbproject/private/
/05/ProblemSet5_3/TrafficLightSwitch/nbproject/private/
/05/ProblemSet5_1/CheckColorRange/build/
/05/ProblemSet5_3/TrafficLightSwitch/build/
/UTS/nbproject/private/
/UTS/build/
/06/BreakContinueEx/build/
/06/BreakContinueEx/nbproject/private/
/06/ProblemSet6_1/ValidatePin/build/
/06/ProblemSet6_2/DisplayMultiples/build/
/Savingaccounts/nbproject/private/
/prisionerTest/nbproject/private/
/prisionerTest/build/
/07/PrisonTest_Student_7_3/build/
/07/PrisonTest_Student_7_3/nbproject/private/
/08/pert8/nbproject/private/
/08/pert8/build/
/08/ExceptionsEx/build/
/07/prisionerTest/build/
/07/prisionerTest/nbproject/private/
/08/javafx/nbproject/private/
/09/GoalTest_Student/build/
/09/GoalTest_Student/dist/
/09/GoalTest_Student/nbproject/private/
/08/javafx/build
/AppTestFx/nbproject/private/
/AppTestFx/build/
/AppTextFx2/nbproject/private/
/AppTextFx2/build/
